<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><title>QvAutoLaunch.hpp source code [qv2ray/src/components/autolaunch/QvAutoLaunch.hpp] - Woboq Code Browser</title>
<link rel="stylesheet" href="../../../../../data/qtcreator.css" title="QtCreator"/>
<link rel="alternate stylesheet" href="../../../../../data/kdevelop.css" title="KDevelop"/>
<script type="text/javascript" src="../../../../../data/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../../../data/jquery/jquery-ui.min.js"></script>
<script>var file = 'qv2ray/src/components/autolaunch/QvAutoLaunch.hpp'; var root_path = '../../../..'; var data_path = '../../../../../data'; var ecma_script_api_version = 2;</script>
<script src='../../../../../data/codebrowser.js'></script>
</head>
<body><div id='header'><h1 id='breadcrumb'><span>Browse the source code of </span><a href='../../..'>qv2ray</a>/<a href='../..'>src</a>/<a href='..'>components</a>/<a href='./'>autolaunch</a>/<a href='QvAutoLaunch.hpp.html'>QvAutoLaunch.hpp</a></h1></div>
<hr/><div id='content'><table class="code">
<tr><th id="1">1</th><td><u>#pragma once</u></td></tr>
<tr><th id="2">2</th><td></td></tr>
<tr><th id="3">3</th><td><b>namespace</b> <span class="namespace">Qv2ray</span>::<span class="namespace">components</span>::<span class="namespace">autolaunch</span></td></tr>
<tr><th id="4">4</th><td>{</td></tr>
<tr><th id="5">5</th><td>    <em>bool</em> <a class="decl fn" href="QvAutoLaunch.cpp.html#_ZN6Qv2ray10components10autolaunch22GetLaunchAtLoginStatusEv" title='Qv2ray::components::autolaunch::GetLaunchAtLoginStatus' data-ref="_ZN6Qv2ray10components10autolaunch22GetLaunchAtLoginStatusEv" data-ref-filename="_ZN6Qv2ray10components10autolaunch22GetLaunchAtLoginStatusEv" id="_ZN6Qv2ray10components10autolaunch22GetLaunchAtLoginStatusEv">GetLaunchAtLoginStatus</a>();</td></tr>
<tr><th id="6">6</th><td>    <em>void</em> <a class="decl fn" href="QvAutoLaunch.cpp.html#_ZN6Qv2ray10components10autolaunch22SetLaunchAtLoginStatusEb" title='Qv2ray::components::autolaunch::SetLaunchAtLoginStatus' data-ref="_ZN6Qv2ray10components10autolaunch22SetLaunchAtLoginStatusEb" data-ref-filename="_ZN6Qv2ray10components10autolaunch22SetLaunchAtLoginStatusEb" id="_ZN6Qv2ray10components10autolaunch22SetLaunchAtLoginStatusEb">SetLaunchAtLoginStatus</a>(<em>bool</em> <dfn class="local col1 decl" id="1enable" title='enable' data-type='bool' data-ref="1enable" data-ref-filename="1enable">enable</dfn>);</td></tr>
<tr><th id="7">7</th><td>} <i>// namespace Qv2ray::components::autolaunch</i></td></tr>
<tr><th id="8">8</th><td></td></tr>
<tr><th id="9">9</th><td><b>using</b> <b>namespace</b> <span class="namespace">Qv2ray::components</span>;</td></tr>
<tr><th id="10">10</th><td><b>using</b> <b>namespace</b> <span class="namespace">Qv2ray::components::autolaunch</span>;</td></tr>
<tr><th id="11">11</th><td></td></tr>
</table><hr/><p id='footer'>
Generated while processing <a href='QvAutoLaunch.cpp.html'>qv2ray/src/components/autolaunch/QvAutoLaunch.cpp</a><br/>Generated on <em>2021-Apr-27</em> from project qv2ray<br />Powered by <a href='https://woboq.com'><img alt='Woboq' src='https://code.woboq.org/woboq-16.png' width='41' height='16' /></a> <a href='https://code.woboq.org'>Code Browser</a> 2.1
<br/>Generator usage only permitted with license.</p>
</div></body></html>
