<dec f='qv2ray/3rdparty/libuv/include/uv.h' l='901' macro='1' type='char [32]'/>
<offset>10216</offset>
<use f='qv2ray/3rdparty/libuv/src/unix/getnameinfo.c' l='49' u='r' c='uv__getnameinfo_work'/>
<use f='qv2ray/3rdparty/libuv/src/unix/getnameinfo.c' l='50' u='r' c='uv__getnameinfo_work'/>
<use f='qv2ray/3rdparty/libuv/src/unix/getnameinfo.c' l='69' u='r' c='uv__getnameinfo_done'/>
<use f='qv2ray/3rdparty/uvw/src/uvw/dns.cpp' l='113' u='a' c='_ZN3uvw14GetNameInfoReq12nameInfoSyncERK8sockaddri'/>
