<dec f='qv2ray/3rdparty/uvw/src/uvw/dns.h' l='59' type='const char *'/>
<use f='qv2ray/3rdparty/uvw/src/uvw/dns.cpp' l='17' u='w' c='_ZN3uvw13NameInfoEventC1EPKcS2_'/>
<offset>64</offset>
<doc f='qv2ray/3rdparty/uvw/src/uvw/dns.h' l='53'>/**
     * @brief A valid service name.
     *
     * See [getnameinfo](http://linux.die.net/man/3/getnameinfo) for further
     * details.
     */</doc>
