<use f='include/google/protobuf/metadata_lite.h' l='61' c='_ZN6google8protobuf8internal29InternalMetadataWithArenaBaseD1Ev'/>
<use f='include/google/protobuf/metadata_lite.h' l='68' c='_ZNK6google8protobuf8internal29InternalMetadataWithArenaBase14unknown_fieldsEv'/>
<use f='include/google/protobuf/metadata_lite.h' l='76' c='_ZN6google8protobuf8internal29InternalMetadataWithArenaBase22mutable_unknown_fieldsEv'/>
<use f='include/google/protobuf/metadata_lite.h' l='84' c='_ZNK6google8protobuf8internal29InternalMetadataWithArenaBase5arenaEv'/>
<def f='include/google/protobuf/metadata_lite.h' l='146' ll='149'/>
<use f='include/google/protobuf/metadata_lite.h' l='153' c='_ZN6google8protobuf8internal29InternalMetadataWithArenaBase27mutable_unknown_fields_slowEv'/>
<use f='include/google/protobuf/metadata_lite.h' l='153' c='_ZN6google8protobuf8internal29InternalMetadataWithArenaBase27mutable_unknown_fields_slowEv'/>
<doc f='include/google/protobuf/metadata_lite.h' l='145'>// If ptr_&apos;s tag is kTagContainer, it points to an instance of this struct.</doc>
<mbr r='google::protobuf::internal::InternalMetadataWithArenaBase::Container::unknown_fields' t='T'/>
<mbr r='google::protobuf::internal::InternalMetadataWithArenaBase::Container::arena' t='google::protobuf::Arena *'/>
