<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><title>TCPing.hpp source code [qv2ray/src/components/latency/TCPing.hpp] - Woboq Code Browser</title>
<meta name="woboq:interestingDefinitions" content="Qv2ray::components::latency::tcping::TCPing "/>
<link rel="stylesheet" href="../../../../../data/qtcreator.css" title="QtCreator"/>
<link rel="alternate stylesheet" href="../../../../../data/kdevelop.css" title="KDevelop"/>
<script type="text/javascript" src="../../../../../data/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../../../data/jquery/jquery-ui.min.js"></script>
<script>var file = 'qv2ray/src/components/latency/TCPing.hpp'; var root_path = '../../../..'; var data_path = '../../../../../data'; var ecma_script_api_version = 2;</script>
<script src='../../../../../data/codebrowser.js'></script>
</head>
<body><div id='header'><h1 id='breadcrumb'><span>Browse the source code of </span><a href='../../..'>qv2ray</a>/<a href='../..'>src</a>/<a href='..'>components</a>/<a href='./'>latency</a>/<a href='TCPing.hpp.html'>TCPing.hpp</a></h1></div>
<hr/><div id='content'><table class="code">
<tr><th id="1">1</th><td><u>#pragma once</u></td></tr>
<tr><th id="2">2</th><td><u>#include <a href="DNSBase.hpp.html">"DNSBase.hpp"</a></u></td></tr>
<tr><th id="3">3</th><td><u>#include <a href="LatencyTest.hpp.html">"LatencyTest.hpp"</a></u></td></tr>
<tr><th id="4">4</th><td><u>#include <a href="../../base/Qv2rayBase.hpp.html">"base/Qv2rayBase.hpp"</a></u></td></tr>
<tr><th id="5">5</th><td></td></tr>
<tr><th id="6">6</th><td><u>#include <a href="../../../../include/c++/10/type_traits.html">&lt;type_traits&gt;</a></u></td></tr>
<tr><th id="7">7</th><td><b>namespace</b> <span class="namespace">Qv2ray</span>::<span class="namespace">components</span>::<span class="namespace">latency</span>::<span class="namespace">tcping</span></td></tr>
<tr><th id="8">8</th><td>{</td></tr>
<tr><th id="9">9</th><td>    <b>class</b> <dfn class="type def" id="Qv2ray::components::latency::tcping::TCPing" title='Qv2ray::components::latency::tcping::TCPing' data-ref="Qv2ray::components::latency::tcping::TCPing" data-ref-filename="Qv2ray..components..latency..tcping..TCPing">TCPing</dfn> : <b>public</b> <a class="type" href="DNSBase.hpp.html#Qv2ray::components::latency::DNSBase" title='Qv2ray::components::latency::DNSBase' data-ref="Qv2ray::components::latency::DNSBase" data-ref-filename="Qv2ray..components..latency..DNSBase">DNSBase</a>&lt;<a class="type" href="#Qv2ray::components::latency::tcping::TCPing" title='Qv2ray::components::latency::tcping::TCPing' data-ref="Qv2ray::components::latency::tcping::TCPing" data-ref-filename="Qv2ray..components..latency..tcping..TCPing">TCPing</a>&gt;</td></tr>
<tr><th id="10">10</th><td>    {</td></tr>
<tr><th id="11">11</th><td>      <b>public</b>:</td></tr>
<tr><th id="12">12</th><td>        <b>using</b> <a class="type" href="DNSBase.hpp.html#Qv2ray::components::latency::DNSBase" title='Qv2ray::components::latency::DNSBase' data-ref="Qv2ray::components::latency::DNSBase" data-ref-filename="Qv2ray..components..latency..DNSBase">DNSBase</a>&lt;<a class="type" href="#Qv2ray::components::latency::tcping::TCPing" title='Qv2ray::components::latency::tcping::TCPing' data-ref="Qv2ray::components::latency::tcping::TCPing" data-ref-filename="Qv2ray..components..latency..tcping..TCPing">TCPing</a>&gt;::DNSBase;</td></tr>
<tr><th id="13">13</th><td>        <em>void</em> <dfn class="decl fn" id="_ZN6Qv2ray10components7latency6tcping6TCPing5startEv" title='Qv2ray::components::latency::tcping::TCPing::start' data-ref="_ZN6Qv2ray10components7latency6tcping6TCPing5startEv" data-ref-filename="_ZN6Qv2ray10components7latency6tcping6TCPing5startEv">start</dfn>();</td></tr>
<tr><th id="14">14</th><td>        <dfn class="virtual decl fn" id="_ZN6Qv2ray10components7latency6tcping6TCPingD1Ev" title='Qv2ray::components::latency::tcping::TCPing::~TCPing' data-ref="_ZN6Qv2ray10components7latency6tcping6TCPingD1Ev" data-ref-filename="_ZN6Qv2ray10components7latency6tcping6TCPingD1Ev">~TCPing</dfn>() override;</td></tr>
<tr><th id="15">15</th><td></td></tr>
<tr><th id="16">16</th><td>      <b>protected</b>:</td></tr>
<tr><th id="17">17</th><td>      <b>private</b>:</td></tr>
<tr><th id="18">18</th><td>        <em>void</em> <dfn class="virtual decl fn" id="_ZN6Qv2ray10components7latency6tcping6TCPing4pingEv" title='Qv2ray::components::latency::tcping::TCPing::ping' data-ref="_ZN6Qv2ray10components7latency6tcping6TCPing4pingEv" data-ref-filename="_ZN6Qv2ray10components7latency6tcping6TCPing4pingEv">ping</dfn>() override;</td></tr>
<tr><th id="19">19</th><td>        <em>void</em> <dfn class="decl fn" id="_ZN6Qv2ray10components7latency6tcping6TCPing14notifyTestHostEv" title='Qv2ray::components::latency::tcping::TCPing::notifyTestHost' data-ref="_ZN6Qv2ray10components7latency6tcping6TCPing14notifyTestHostEv" data-ref-filename="_ZN6Qv2ray10components7latency6tcping6TCPing14notifyTestHostEv">notifyTestHost</dfn>();</td></tr>
<tr><th id="20">20</th><td>    };</td></tr>
<tr><th id="21">21</th><td>} <i>// namespace Qv2ray::components::latency::tcping</i></td></tr>
<tr><th id="22">22</th><td></td></tr>
</table><hr/><p id='footer'>
Generated while processing <a href='LatencyTestThread.cpp.html'>qv2ray/src/components/latency/LatencyTestThread.cpp</a><br/>Generated on <em>2021-Apr-27</em> from project qv2ray<br />Powered by <a href='https://woboq.com'><img alt='Woboq' src='https://code.woboq.org/woboq-16.png' width='41' height='16' /></a> <a href='https://code.woboq.org'>Code Browser</a> 2.1
<br/>Generator usage only permitted with license.</p>
</div></body></html>
