<dec f='qv2ray/src/base/models/CoreObjectModels.hpp' l='116' type='QString'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='121' u='r' c='_ZNK6Qv2ray4base7objects10RuleObjecteqERKS2_'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='121' u='r' c='_ZNK6Qv2ray4base7objects10RuleObjecteqERKS2_'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='125' u='a' c='_ZN6Qv2ray4base7objects10RuleObject8loadJsonERK10QJsonValue'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='125' u='w' c='_ZN6Qv2ray4base7objects10RuleObject8loadJsonERK10QJsonValue'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='125' u='r' c='_ZN6Qv2ray4base7objects10RuleObject8loadJsonERK10QJsonValue'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='125' u='r' c='_ZNK6Qv2ray4base7objects10RuleObject6toJsonEv'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='125' u='r' c='_ZNK6Qv2ray4base7objects10RuleObject6toJsonEv'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='125' u='r' c='_ZNK6Qv2ray4base7objects10RuleObject6toJsonEv'/>
<use f='qv2ray/src/ui/widgets/node/widgets/RuleWidget.hpp' l='50' u='w' c='_ZN16QvNodeRuleWidget18SetNetworkPropertyEv'/>
<offset>704</offset>
<doc f='qv2ray/src/base/models/CoreObjectModels.hpp' l='115'>//</doc>
<use f='qv2ray/src/ui/widgets/node/widgets/RuleWidget.cpp' l='53' u='m' c='_ZN16QvNodeRuleWidget8setValueESt10shared_ptrIN6Qv2ray4base7objects10RuleObjectEE'/>
