<dec f='qv2ray/src/base/models/CoreObjectModels.hpp' l='109' type='QString'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='119' u='w' c='_ZN6Qv2ray4base7objects10RuleObjectC1Ev'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='120' u='a' c='_ZN6Qv2ray4base7objects10RuleObject8loadJsonERK10QJsonValue'/>
<use f='qv2ray/src/base/models/CoreObjectModels.hpp' l='120' u='r' c='_ZNK6Qv2ray4base7objects10RuleObject6toJsonEv'/>
<offset>384</offset>
<use f='qv2ray/src/ui/editors/w_RoutesEditor.cpp' l='363' u='m' c='_ZN11RouteEditor10OpenEditorEv'/>
<use f='qv2ray/src/ui/editors/w_RoutesEditor.cpp' l='474' u='m' c='_ZN11RouteEditor21ShowCurrentRuleDetailEv'/>
<use f='qv2ray/src/ui/editors/w_RoutesEditor.cpp' l='626' u='w' c='_ZN11RouteEditor20on_netBothRB_clickedEv'/>
<use f='qv2ray/src/ui/editors/w_RoutesEditor.cpp' l='631' u='w' c='_ZN11RouteEditor19on_netUDPRB_clickedEv'/>
<use f='qv2ray/src/ui/editors/w_RoutesEditor.cpp' l='636' u='w' c='_ZN11RouteEditor19on_netTCPRB_clickedEv'/>
