<dec f='include/c++/10/bits/stl_iterator.h' l='678' type='_Container *'/>
<use f='include/c++/10/bits/stl_iterator.h' l='692' u='w' c='_ZNSt21front_insert_iteratorC1ERT_'/>
<use f='include/c++/10/bits/stl_iterator.h' l='717' u='c' c='_ZNSt21front_insert_iteratoraSERKNT_10value_typeE'/>
<use f='include/c++/10/bits/stl_iterator.h' l='725' u='c' c='_ZNSt21front_insert_iteratoraSEONT_10value_typeE'/>
