<use f='/v2ray_api.pb.h' l='84' c='_ZN6google8protobuf5Arena18CreateMaybeMessageEPS1_DpOT0_'/>
<use f='/v2ray_api.pb.h' l='84' c='_ZN6google8protobuf5Arena18CreateMaybeMessageEPS1_DpOT0_'/>
<inh f='include/google/protobuf/message.h' l='189' c='google::protobuf::Message'/>
<def f='/v2ray_api.pb.h' l='936' ll='1029'/>
<use f='/v2ray_api.pb.h' l='941' c='_ZN5v2ray4core3app5stats7command6ConfigC1ERKS4_'/>
<use f='/v2ray_api.pb.h' l='943' c='_ZN5v2ray4core3app5stats7command6ConfigaSERKS4_'/>
<use f='/v2ray_api.pb.h' l='943' c='_ZN5v2ray4core3app5stats7command6ConfigaSERKS4_'/>
<use f='/v2ray_api.pb.h' l='948' c='_ZN5v2ray4core3app5stats7command6ConfigC1EOS4_'/>
<use f='/v2ray_api.pb.h' l='949' c='_ZN5v2ray4core3app5stats7command6ConfigC1EOS4_'/>
<use f='/v2ray_api.pb.h' l='953' c='_ZN5v2ray4core3app5stats7command6ConfigaSEOS4_'/>
<use f='/v2ray_api.pb.h' l='953' c='_ZN5v2ray4core3app5stats7command6ConfigaSEOS4_'/>
<use f='/v2ray_api.pb.h' l='963' c='_ZN5v2ray4core3app5stats7command6Config16default_instanceEv'/>
<use f='/v2ray_api.pb.h' l='966' c='_ZN5v2ray4core3app5stats7command6Config25internal_default_instanceEv'/>
<use f='/v2ray_api.pb.h' l='967' c='_ZN5v2ray4core3app5stats7command6Config25internal_default_instanceEv'/>
<use f='/v2ray_api.pb.h' l='973' c='_ZN5v2ray4core3app5stats7command6Config4SwapEPS4_'/>
<use f='/v2ray_api.pb.h' l='974' c='_ZN5v2ray4core3app5stats7command4swapERNS3_6ConfigES5_'/>
<use f='/v2ray_api.pb.h' l='974' c='_ZN5v2ray4core3app5stats7command4swapERNS3_6ConfigES5_'/>
<use f='/v2ray_api.pb.h' l='980' c='_ZNK5v2ray4core3app5stats7command6Config3NewEv'/>
<use f='/v2ray_api.pb.h' l='981' c='_ZNK5v2ray4core3app5stats7command6Config3NewEv'/>
<use f='/v2ray_api.pb.h' l='984' c='_ZNK5v2ray4core3app5stats7command6Config3NewEPN6google8protobuf5ArenaE'/>
<use f='/v2ray_api.pb.h' l='985' c='_ZNK5v2ray4core3app5stats7command6Config3NewEPN6google8protobuf5ArenaE'/>
<use f='/v2ray_api.pb.h' l='989' c='_ZN5v2ray4core3app5stats7command6Config8CopyFromERKS4_'/>
<use f='/v2ray_api.pb.h' l='990' c='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKS4_'/>
<use f='/v2ray_api.pb.h' l='1007' c='_ZN5v2ray4core3app5stats7command6Config12InternalSwapEPS4_'/>
<size>24</size>
<doc f='/v2ray_api.pb.h' l='934'>// -------------------------------------------------------------------</doc>
<doc f='/v2ray_api.pb.h' l='936'>/* @@protoc_insertion_point(class_definition:v2ray.core.app.stats.command.Config) */</doc>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigC1Ev'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigD1Ev'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigC1ERKS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigaSERKS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigC1EOS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigaSEOS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config10descriptorEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config16default_instanceEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config21InitAsDefaultInstanceEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config25internal_default_instanceEv'/>
<smbr r='v2ray::core::app::stats::command::Config::kIndexInFileMessages' t='const int'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config4SwapEPS4_'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config3NewEv'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config3NewEPN6google8protobuf5ArenaE'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config8CopyFromERKN6google8protobuf7MessageE'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKN6google8protobuf7MessageE'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config8CopyFromERKS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config5ClearEv'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config13IsInitializedEv'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config12ByteSizeLongEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config27MergePartialFromCodedStreamEPN6google8protobuf2io16CodedInputStreamE'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config24SerializeWithCachedSizesEPN6google8protobuf2io17CodedOutputStreamE'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config39InternalSerializeWithCachedSizesToArrayEbPh'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config13GetCachedSizeEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config10SharedCtorEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config10SharedDtorEv'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config13SetCachedSizeEi'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config12InternalSwapEPS4_'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config17GetArenaNoVirtualEv'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config13MaybeArenaPtrEv'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config11GetMetadataEv'/>
<mbr r='v2ray::core::app::stats::command::Config::_internal_metadata_' o='64' t='::google::protobuf::internal::InternalMetadataWithArena'/>
<mbr r='v2ray::core::app::stats::command::Config::_cached_size_' o='128' t='::google::protobuf::internal::CachedSize'/>
<use f='/v2ray_api.pb.cc' l='67'/>
<use f='/v2ray_api.pb.cc' l='181' c='_ZN28protobuf_v2ray_5fapi_2eprotoL18InitDefaultsConfigEv'/>
<use f='/v2ray_api.pb.cc' l='258'/>
<use f='/v2ray_api.pb.cc' l='271'/>
<use f='/v2ray_api.pb.cc' l='2403' c='_ZN5v2ray4core3app5stats7command6ConfigC1ERKS4_'/>
<use f='/v2ray_api.pb.cc' l='2429' c='_ZN5v2ray4core3app5stats7command6Config16default_instanceEv'/>
<use f='/v2ray_api.pb.cc' l='2514' c='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKN6google8protobuf7MessageE'/>
<use f='/v2ray_api.pb.cc' l='2515' c='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKN6google8protobuf7MessageE'/>
<use f='/v2ray_api.pb.cc' l='2526' c='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKS4_'/>
<use f='/v2ray_api.pb.cc' l='2542' c='_ZN5v2ray4core3app5stats7command6Config8CopyFromERKS4_'/>
<use f='/v2ray_api.pb.cc' l='2553' c='_ZN5v2ray4core3app5stats7command6Config4SwapEPS4_'/>
<use f='/v2ray_api.pb.cc' l='2557' c='_ZN5v2ray4core3app5stats7command6Config12InternalSwapEPS4_'/>
<use f='/v2ray_api.pb.cc' l='2597' c='_ZN6google8protobuf5Arena18CreateMaybeMessageEPS1_DpOT0_'/>
<use f='/v2ray_api.pb.cc' l='2597' c='_ZN6google8protobuf5Arena18CreateMaybeMessageEPS1_DpOT0_'/>
<use f='/v2ray_api.pb.cc' l='2598' c='_ZN6google8protobuf5Arena18CreateMaybeMessageEPS1_DpOT0_'/>
<size>24</size>
<fun r='_ZN5v2ray4core3app5stats7command6Config21InitAsDefaultInstanceEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigC1Ev'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigC1ERKS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config10SharedCtorEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6ConfigD1Ev'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config10SharedDtorEv'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config13SetCachedSizeEi'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config10descriptorEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config16default_instanceEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config5ClearEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config27MergePartialFromCodedStreamEPN6google8protobuf2io16CodedInputStreamE'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config24SerializeWithCachedSizesEPN6google8protobuf2io17CodedOutputStreamE'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config39InternalSerializeWithCachedSizesToArrayEbPh'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config12ByteSizeLongEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKN6google8protobuf7MessageE'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config9MergeFromERKS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config8CopyFromERKN6google8protobuf7MessageE'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config8CopyFromERKS4_'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config13IsInitializedEv'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config4SwapEPS4_'/>
<fun r='_ZN5v2ray4core3app5stats7command6Config12InternalSwapEPS4_'/>
<fun r='_ZNK5v2ray4core3app5stats7command6Config11GetMetadataEv'/>
